<!DOCTYPE html>
<html>
  <head>
    <title>Steamgifts Bot Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Steamgifts Bot</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('config') }}">Config</a></li>
            <li><a href="{{ url_for('logs') }}">Logs</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      <pre id="output"></pre>
<script>
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();
    output.textContent = xhr.responseText;

    setInterval(function() {
        output.textContent = xhr.responseText;
    }, 10000);
</script>
    </div>
  </body>
</html>