{% extends 'base.html' %}

{% block title %} {{name}} Steamgifts Bot Giveaways {% endblock %}
{% block content %}
    <ul class="pagination">
                    {% if data.previous_page %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('db_giveaways', page=data.previous_page) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item">Previous</li>
                    {% endif %}
                    {% if data.next_page %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('db_giveaways', page=data.next_page) }}">Next</a></li>
                    {% else %}
                      <li class="page-item">Next</li>
                    {% endif %}
                </ul>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Giveaway ID</th>
            <th>Steam ID</th>
            <th>Giveaway URI</th>
            <th>Name</th>
            <th>Steam URL</th>
            <th>User</th>
            <th>Giveaway Created At</th>
            <th>Giveaway Ended At</th>
            <th>Cost</th>
            <th>Copies</th>
            <th>Contributor Level</th>
            <th>Entered</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data.items %}
        <tr>
            <td>{{row.giveaway_id}}</td>
            <td>{{row.steam_id}}</td>
            <td>{{row.giveaway_uri}}</td>
            <td>{{row.steam_item.game_name}}</td>
            <td>{{row.steam_item.steam_url}}</td>
            <td>{{row.user}}</td>
            <td>{{row.giveaway_created_at}}</td>
            <td>{{row.giveaway_ended_at}}</td>
            <td>{{row.cost}}</td>
            <td>{{row.copies}}</td>
            <td>{{row.contributor_level}}</td>
            <td>{{row.entered}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}