<!DOCTYPE html>
<html>
<head>
    <title>{{name}} Steamgifts Bot DB View</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <h1 class="logo">Steamgifts Bot</h1>
        <strong>
            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('config') }}">Config</a></li>
                    <li><a href="{{ url_for('log_info') }}">Info Logs</a></li>
                    <li><a href="{{ url_for('log_debug') }}">Debug Logs</a></li>
                    <li><a href="{{ url_for('db_giveaways') }}">Giveaways</a></li>
                    <li><a href="{{ url_for('db_notifications') }}">Notifications</a></li>
                </ul>
            </nav>
        </strong>
    </div>
</header>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Medium</th>
            <th>Type</th>
            <th>Success</th>
            <th>Created At</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for row in content %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.medium}}</td>
            <td>{{row.type}}</td>
            <td>{{row.success}}</td>
            <td>{{row.created_at}}</td>
            <td>{{row.message}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>