{% extends 'base.html' %}

{% block title %} {{name}} Steamgifts Bot Notifications {% endblock %}
{% block content %}
<table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Medium</th>
            <th>Type</th>
            <th>Success</th>
            <th>Created At</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.medium}}</td>
            <td>{{row.type}}</td>
            <td>{{row.success}}</td>
            <td>{{row.created_at}}</td>
            <td>{{row.message}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}