<!DOCTYPE html>
<html>
  <head>
    <title>Steamgifts Bot Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Steamgifts Bot</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('config') }}">Config</a></li>
            <li><a href="{{ url_for('log_info') }}">Info Logs</a></li>
            <li><a href="{{ url_for('log_debug') }}">Debug Logs</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      <pre>{{content}}</pre>
    </div>
  </body>
</html>